<div class ="add-form">
    <h1> Edit Details</h1>
    <p> Please change details below, and press save to save all changes </p>

    <%=form_with model:@candidate, class: "form-class" do |form| %>
        <%= label(:job_id,"Job ID")%> <br>
        <%= form.text_field :job_id %> <br><br>

        <%= label(:first_name,"First Name")%> <br>
        <%= form.text_field :first_name %><br><br>

        <%= label(:last_name,"Last Name")%><br>
        <%= form.text_field :last_name %> <br><br>

        <%= label(:status,"Status")%><br>
        <%= form.select(:status, ['applied', 'contacted', 'screened', 'shortlisted', 'interview', 'offer', 'accepted', 'disqualified'] )  %><br><br>

        <%= label(:occupation,"Occupation")%><br>
        <%= form.text_field :occupation %> <br><br>

        <%= label(:email,"Email")%> <br>
        <%= form.email_field :email %> <br><br>

        <%= label(:number,"Contact Number")%> <br>
        <%= form.text_field :number %> <br><br>

        <%= label(:address,"Address")%> <br>
        <%= form.text_field :address %> <br><br>
        <%= form.submit "Save Changes", class: "button-class" %>


    <%end%>
</div>


