<div class ="add-form">
    <h3>Reschedule Interview | for <%= "#{@candidate[:first_name]} #{@candidate[:last_name]}"%> </h3>
    
    <%=form_with model:@interview, url: update_reschedule_path() do |form| %>

        <%= label(:date,"Select New Date")%> <br>
        <%= form.datetime_field :date %> <br><br>

        <%= form.submit "Save", class: "button-class" %>

    <%end%>

</div>








