<div class="job-details">
    <div class="job-title">
        <% if @job[:status] == "open"%>
            <div class="green-dot"></div>
        <% else%>
            <div class="red-dot"></div>
        <% end %>
        <h2> <%= "#{@job[:title]} | ##{@job[:id]}" %> </h2>
        <%= link_to manager_path(@job[:id]) do %> <div class="secondary-button" id="dashboard-button"> Dashboard </div> <% end %>
        <%= link_to interview_list_path(@job[:id]) do %>  <div class="secondary-button" id="interviews-button"> Interviews </div> <% end %>
    </div>
    <table>
        <tr>
            <td>Type: </td>
            <td> <%= @job[:work_type] %> </td>
            <td>Salary: </td>
            <td> <%= "$%.2f" % @job[:salary] %> </td>
        </tr>
        <tr>
            <td>Applications: </td>
            <td> <%= "%.0f" % @candidate_pool.length %> </td>
            <td>Start Date: </td>
            <td> <%= @job[:start_date] %> </td>
            <td>Reporting to: </td>
            <td> <%= @job[:reporting_to] %> </td>
        </tr>

    </table>
</div>


<div class="interview-log">
    <h2>Interview Log</h2>
    <% if @interviews.length == 0 %>
        <p> No interviews scheduled yet. </p>
    <% else %>
        <table>
            <tr>
                <th> Date </th>
                <th> Time </th>
                <th> Candidate </th>
                <th> Status</th>
                <th> Comments </th>
                <th> </th>
            </tr>
            <% for interview in @interviews%>
                <tr>
                    <td> <%= "#{DateFormat.change_to(interview[:date].in_time_zone('Australia/Brisbane'), "SHORT_DATE")}" %> </td>
                    <td> <%= "#{DateFormat.change_to(interview[:date].in_time_zone('Australia/Brisbane'), "MEDIUM_TIME")}" %> </td>
                    <td> <%= "#{Candidate.find(interview[:candidate_id]).first_name} #{Candidate.find(interview[:candidate_id]).last_name}"  %></td>
                    <td> <%= interview[:status] %></td>
                    <td> <%= interview[:comments] %></td>
                    <% if interview[:status] == "booked" %>
                        <td> 
                            <%= link_to complete_interview_path(interview[:candidate_id]) do %> <div class="secondary-button" id="complete"> Complete </div> <% end %>
                            <%= link_to reschedule_interview_path(interview[:candidate_id]) do %> <div class="secondary-button" id="reschedule"> Reschedule </div> <% end %>
                        </td>
                    <% end %>
                </tr>
                
            <% end %>
        </table>
    <% end %>

</div>





