<div class ="add-form note-input">
    <h2> Notes | <%= "#{@candidate[:first_name]} #{@candidate[:last_name]}" %> </h2>

    <%=form_with model:@note, class: "form-class" do |form| %>

        <%= label(:note,"Type note below")%> <br>
        <%= form.text_area :note %> <br><br>

        <%= form.submit "Save Note", class: "button-class" %>

    <%end%>

</div>


