<html>
    <head>
        <title>railsHRM</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <link rel="stylesheet" href="job.css">
        <script src="https://kit.fontawesome.com/9828386ba7.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <%= render "shared/sidebar"%>

        <div class="content" >

            <div class="top-function-bar">
                <div class="main-button"> <%= link_to new_job_path() do %> <span>Add Job </span> <% end %> </div> 
                <div class="main-button"> <%= link_to new_candidate_path() do %> <span> Add Candidate </span> <% end %> </div> 
                <div class="main-button">Make Note</div>
                <div class="main-button">Interview Log</div>
            </div>
             
            <%= yield %>

        </div>


    </body>

</html>
