<html>
    <head>
        <title>railsHRM</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <link rel="stylesheet" href="job.css">
        
    </head>

    <body>
        <%= render "shared/sidebar"%>

        <div class="content" >

            <div class="top-function-bar">
                <div class="main-button">Add Job</div>
                <div class="main-button">Add Candidate</div>
                <div class="main-button">Make Note</div>
                <div class="main-button">Interview Log</div>
            </div>

            <div class="job-details">
                <div class="job-title">
                    <% if @jobs[0][:status] == "open"%>
                        <div class="green-dot"></div>
                    <% else%>
                        <div class="red-dot"></div>
                    <% end %>
                    <h2> <%= "#{@jobs[0][:title]} | ##{@jobs[0][:id]}" %> </h2>
                </div>
                <table>
                    <tr>
                        <td>Type: </td>
                        <td> <%= @jobs[0][:work_type] %> </td>
                        <td>Salary: </td>
                        <td> <%= "$%.2f" % @jobs[0][:salary] %> </td>
                    </tr>
                    <tr>
                        <td>Openings: </td>
                        <td> <%= "%.0f" % @jobs[0][:openings] %> </td>
                        <td>Start Date: </td>
                        <td> <%= @jobs[0][:start_date] %> </td>
                        <td>Reporting to: </td>
                        <td> <%= @jobs[0][:reporting_to] %> </td>
                    </tr>

                </table>
            </div>
            <div class="dashboard-title"> <h2>Dashboard</h2> </div>
            <div class="progression-table">
                <table>

                    <% repeats = Hash.new(0) %>
                    <% @candidates.each do | candidate | %>
                        <% repeats[candidate[:status]] += 1%>
                    <% end %>
                    <% row_count = repeats.values.max %>
                    <% row_data = []%>
                    <% until row_count == 0 %>
                        <% row_data.push(["", "", "", "", "", "", "", ""])%>
                        <% row_count -= 1 %>
                    <% end %>

                    <tr>
                        <th>Applied (<%= repeats["applied"] %>) </th>
                        <th>Contacted (<%= repeats["contacted"] %>) </th>
                        <th>Screened (<%= repeats["screened"] %>) </th>
                        <th>Shortlisted (<%= repeats["shortlisted"] %>) </th>
                        <th>Interview (<%= repeats["interview"] %>) </th>
                        <th>Offer (<%= repeats["offer"] %>) </th>
                        <th>Accepted (<%= repeats["accepted"] %>) </th>
                        <th>Disqualified (<%= repeats["disqualified"] %>) </th>
                    </tr>

                    <% columns = { "applied" => 0, "contacted" => 1, "screened" => 2, "shortlisted" => 3, "interview" => 4, "offer" => 5, "accepted" => 6, "disqualified" => 7} %>

                    <% @candidates.each do | candidate | %>
                        <% if repeats[candidate[:status]] > 0%>
                            <% row_data[repeats[candidate[:status]]-1][columns[candidate[:status]]] = "#{candidate[:first_name]} #{candidate[:last_name]}" %>
                            <% repeats[candidate[:status]] -= 1%>
                        <% end %>
                    <% end %>

                    <% row_data.each do | row | %>
                        <tr>
                            <% row.each do | data | %>
                                <% if data != ""%>
                                    <% @candidates.each do | candidate | %>
                                        <% if "#{candidate[:first_name]} #{candidate[:last_name]}" == data %>
                                            <% candidate_id = candidate[:id] %>
                                            <td class="taken"> <%= link_to data, candidate_path(candidate_id) %> </td>
                                        <% end %>
                                    <% end %>
                                <% else %>
                                    <td> <%= data %> </td>
                                <% end %>
                            <% end %>
                        </tr>

                    <% end %>  

                </table>
            </div>

            <%= yield %>

        </div>


    </body>

</html>
