<div class="candidate-display">

    <h2> <%= "Profile | #{@candidate[:first_name]} #{@candidate[:last_name]}" %> </h2>
    <div class="candidate-action-bar">
        <div class="secondary-button">Progress</div>
        <div class="secondary-button">Edit</div>
        <div class="secondary-button">Schedule Interview</div>
        <div class="secondary-button">Offer</div>
        <div class="secondary-button">Disqualify</div>
    </div>
    <h3> Details </h3>

    <table>
        <tr>
            <td>Status:</td>
            <td> <%= @candidate[:status].capitalize %> </td>
        </tr>
        <tr>
            <td>Occupation:</td>
            <td> <%= @candidate[:occupation] %> </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td> <%= @candidate[:email] %> </td>
        </tr>
        <tr>
            <td>Number:</td>
            <td> <%= @candidate[:number] %> </td>
        </tr>
        <tr>
            <td>Address:</td>
            <td> <%= @candidate[:address] %> </td>
        </tr>
    </table>

</div>