
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="job.css">
    
    <title>terminalHRM</title>
  </head>

  <body>
    <div class="sidebar">

      <h1>terminalHRM</h1>

      <div id="user-info">
        <img src="assets/IMG_3679.JPG" alt="user profile picture">
        <p>Username</p>
      </div>

      <div id="navigation">
        <ul>
          <li> Dashboard </li>
          <% @jobs.each do | job | %>
            <li><%=  "Job #{job[:id]}" %></li>
          <% end %>
        </ul>
      </div>

    </div>

    <div class="content" >

      <div class="top-function-bar">
        <div class="main-button">Add Job</div>
        <div class="main-button">Add Candidate</div>
        <div class="main-button">Add Make Note</div>
        <div class="main-button">Add Interview Log</div>
      </div>

      <div class="job-details">
        <h2> <%= "#{@jobs[0][:title]} | ##{@jobs[0][:id]}" %> </h3>
        <table>
          <tr>
            <td>Type: </td>
            <td> <%= @jobs[0][:type] %> </td>
            <td>Salary: </td>
            <td> <%= "$%.2f" % @jobs[0][:salary] %> </td>
          </tr>
          <tr>
            <td>Openings: </td>
            <td> <%= @jobs[0][:openings] %> </td>
            <td>Start Date: </td>
            <td> <%= @jobs[0][:start_date] %> </td>
            <td>Reporting to: </td>
            <td> <%= @jobs[0][:reporting_to] %> </td>
          </tr>

        </table>
      </div>

      <div class="progression-table">
        <table>
  
        
          <% repeats = Hash.new(0) %>
          <% @candidates.each do | candidate | %>
            <% repeats[candidate[:status]] += 1%>
          <% end %>
          <% row_count = repeats.values.max %>
          <% row_data = []%>
          <% until row_count == 0 %>
            <% row_data.push(["", "", "", "", "", "", "", ""])%>
            <% row_count -= 1 %>
          <% end %>

          <tr>
            <th>Applied (<%= repeats["applied"] %>) </th>
            <th>Contacted (<%= repeats["contacted"] %>) </th>
            <th>Screened (<%= repeats["screened"] %>) </th>
            <th>Shortlisted (<%= repeats["shortlisted"] %>) </th>
            <th>Interview (<%= repeats["interview"] %>) </th>
            <th>Offer (<%= repeats["offer"] %>) </th>
            <th>Accepted (<%= repeats["accepted"] %>) </th>
            <th>Disqualified (<%= repeats["disqualified"] %>) </th>
          </tr>

          <% @candidates.each do | candidate | %>
            <% case candidate[:status] %>
            <% when "applied"%>
              <% if repeats["applied"] > 0%>
                <% row_data[repeats["applied"]-1][0] = "#{candidate[:first_name]} #{candidate[:last_name]}" %>
                <% repeats["applied"] -= 1%>
              <% end %>
            <% when "contacted"%>
              <% if repeats["contacted"] > 0%>
                <% row_data[repeats["contacted"]-1][1] = "#{candidate[:first_name]} #{candidate[:last_name]}" %>
                <% repeats["contacted"] -= 1%>
              <% end %>
            <% when "screened"%>
              <% if repeats["screened"] > 0%>
                <% row_data[repeats["screened"]-1][2] = "#{candidate[:first_name]} #{candidate[:last_name]}" %>
                <% repeats["screened"] -= 1%>
              <% end %>
            <% when "shortlisted"%>
              <% if repeats["shortlisted"] > 0%>
                <% row_data[repeats["shortlisted"]-1][3] = "#{candidate[:first_name]} #{candidate[:last_name]}" %>
                <% repeats["shortlisted"] -= 1%>
              <% end %>
            <% when "interview"%>
              <% if repeats["interview"] > 0%>
                <% row_data[repeats["interview"]-1][4] = "#{candidate[:first_name]} #{candidate[:last_name]}" %>
                <% repeats["interview"] -= 1%>
              <% end %>
            <% when "offer"%>
              <% if repeats["offer"] > 0%>
                <% row_data[repeats["offer"]-1][5] = "#{candidate[:first_name]} #{candidate[:last_name]}" %>
                <% repeats["offer"] -= 1%>
              <% end %>
            <% when "accepted"%>
              <% if repeats["accepted"] > 0%>
                <% row_data[repeats["accepted"]-1][6] = "#{candidate[:first_name]} #{candidate[:last_name]}" %>
                <% repeats["accepted"] -= 1%>
              <% end %>
            <% when "disqualified"%>
              <% if repeats["disqualified"] > 0%>
                <% row_data[repeats["disqualified"]-1][7] = "#{candidate[:first_name]} #{candidate[:last_name]}" %>
                <% repeats["disqualified"] -= 1%>
              <% end %>
            <% end %>
          <% end %>

          <% row_data.each do | row |%>
            <tr>
              <td> <%= row[0] %> </td>                   
              <td> <%= row[1] %> </td>                   
              <td> <%= row[2] %> </td>                   
              <td> <%= row[3] %> </td>                   
              <td> <%= row[4] %> </td>                   
              <td> <%= row[5] %> </td>                   
              <td> <%= row[6] %> </td>                   
              <td> <%= row[7] %> </td>                   
            </tr>
          <% end %>  

        </table>
      </div>

      <div class="candidate-profile">
      candidate
      </div>

    </div>
  
  
  </body>
</html>

